---
import projectImage from '@assets/images/project.png';
import { Image } from '@astrojs/image/components';
import Tags from '@components/ui/Tags.astro';
import { Icon } from 'astro-icon';

interface Props {
	url?: string;
	live?: string;
	img?:string;
	alt?: string;
	title?: string;
	description?: string;
	tags: string[];
	children?: HTMLElement | HTMLElement[];
}

const {
	url = '#',
	live= '#',
	img='#',
	alt = 'Project image',
	title = 'Project title',
	tags = ['Tags'],
	description = 'Description',
} = Astro.props;
---

<section class=" p-2 w-full md:p-4 lg:w-4/5">
	<article
		data-testId="card"
		class="flex flex-col rounded-xl bg-lightmode p-3 hover:bg-lightmodehover dark:bg-darkmode dark:hover:bg-darkmodehover md:flex-row lg:flex-row"
	>
		<div class="flex justify-center items-center rounded-xl overflow-hidden md:w-1/2 bg-orange my-4 md:my-0">
			<div class="p-3 rounded-xl ">
				<Image
				src={img}
				alt={alt}
				aspectRatio="21:9"
				format="png"
				width={1920}
				height={880}
				loading="eager"
			/>
			</div>
		</div>
		<div class="mt-1 flex flex-col h-1/2 justify-center md:w-2/3 md:p-4">
			<h3 class="text-xl text-orange lg:text-2xl">{title}</h3>
			<p class="py-3 text-black dark:text-white">{description}</p>
			<Tags tags={tags} />
			<div class="flex justify-start pt-5">
				<a href={url} target="_blank" rel="noopener" aria-label="github"
					><Icon
						class="mr-4 h-5 text-black hover:text-orange dark:text-white dark:hover:text-orange md:h-8"
						name="simple-icons:github"
					/></a
				>
				<a href={live} target="_blank" rel="noopener" aria-label="github"
					><Icon
						class="h-5 text-black hover:text-orange dark:text-white dark:hover:text-orange md:h-8"
						name="lucide:external-link"
					/></a
				>
			</div>
		</div>
	</article>
</section>
